/* General styles for the page */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e3f2fd, #ffffff);
    color: #333;
}

h2, h3, h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Navigation styles */
#nav {
    background: #364e82;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

#nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

#nav a:hover {
    color: #00008c;
}

/* Content styles */
#content {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
#usersheader {
    /* background-color: #86aacf; */
    display: flex;
    /* justify-content: space-between; */
    justify-content: stretch;
    margin-bottom: 20px;
}
#userspanel {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.user {
    background: #f1f8e9;
    padding: 15px;
    border: 1px solid #c8e6c9;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 250px;
}

.user:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.user img {
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #2c3b1c;
}

.user h3 {
    color: #388e3c;
}

.user h4 {
    color: #757575;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
    #userspanel {
        flex-direction: column;
        align-items: center;
    }

    .user {
        width: 90%;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
}